
.main_menu_container{
    -fx-bckground-color: #EEEEEE;
    -fx-alignment: center;
}

.left_container{a
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box,#AAAAAA,5,0,0,4);
}

/*Titulo*/

.title_container{
    -fx-background-color: #1fb286;
    -fx-background-radius: 10 0 0 0;
    -fx-alignment: center;
    -fx-padding: 10;
}

.title_container Text{
    -fx-font-family: "Arial Black";
    -fx-fill: #000000;
    -fx-stroke: #52b5ea;
    -fx-stroke-width: 1px;
    -fx-font-size: 2em;
    -fx-alignment: center;
}

/* Navegacion */

.menu_container{
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-border-width: 0 2 0 0 ;
    -fx-border-color: white #c0def4 white white;
    -fx-background-image: url("unlam.png");
    -fx-background-size: 150px;
    -fx-background-color: #c0def4;
}

.background_all{
    -fx-background-color: #c0def4;
    -fx-background-size: 750px;
    -fx-background-image: url("logo_unlam.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.menu_container Button {
    -fx-pref-width: 150;
    -fx-pref-height: 75;
    -fx-background-color: white;
    -fx-font-size: 1.2em;
    -fx-alignment: center;
}

.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(two-pass-box,#DDDDDD,5,0,0,6);
}

/*.menu_container Button:pressed{*/
/*    -fx-background-color: #81b4d3;*/
/*    -fx-text-fill: white;*/
/*    -fx-font-size: 1.2em;*/
/*    -fx-alignment: center;*/
/*}*/

.info_container {
    -fx-background-color: #1fb286;
    -fx-background-radius: 0 0 0 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10, 0, 10, 0;
    -fx-font-fill: white;
}

.info_container Text {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
}
